html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 50px;
  font: 14px "Varela Round", Ubuntu, "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  margin-bottom: 48px;
}

header h1 {
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  color: #0A5EBE;
}

header p {
  text-align: center;
}

#products {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
}

#products td {
  border: 1px solid #DDDDDD;
  padding: 12px;
}

#products tr:nth-child(odd){
  background-color: #EAEAFF;
}

#products tr:hover{
  background-color: #D9D5F8;
}

#products .image {
  text-align: center;
}

#products .image img {
  max-height: 100px;
  border-radius: 8px;
}

#products .name p {
  font-weight: bold;
}

#products .selling p {
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
}

#products .tags span {
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #BDBDED;
  text-transform: capitalize;
  margin: 0 12px;
}

#products .price p {
  font-weight: bold;
  font-size: 20px;
  color: #0A5EBE
}